<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="{{url_for('static',filename='login.css')}}">
</head>
<body>
  <div class="login-container">
    <h2>Login</h2>
    <form method="POST" action="/">
      <div class="input-group">
        <label for="username">Mobile Number or gmail</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <a ><button type="submit">Login</button></a>
    </form>
    <div class="create-account">
      <p>Don't have an account?<a href='/create'>Create New </a></p>
    </div>
  </div>
</body>
</html>