<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Information</title>
    <link rel="stylesheet" href="{{url_for('static',filename='item.css')}}">
</head>
<body>
    <style>
    body{
        background: linear-gradient(13deg,pink,rgb(237, 240, 241));
    }
      video{
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
      }
    </style>
    <div class="container">
        <h1 align="center">
          THE PISTA HOUSE</h1>
          </div>
          <video controls autoplay>
            <source src="https://videos.pexels.com/video-files/4254314/4254314-uhd_4096_2160_25fps.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
 <p><h2><strong>Description:</strong></h2><h3>A Legacy of Over 25 Years
    For over twenty years, we’ve honoured the essence of tradition, infusing each dish with our passion and authentic flavours since 1997.
    
    What began as a humble endeavour has evolved into a culinary institution, renowned for our commitment to preserving the essence of Hyderabadi cuisine. At Pista House, we don’t just serve food, we curate experiences that linger in the memory long after the last bite.
    
    Our secret? It lies in the meticulous craftsmanship that goes into every dish, from our world-famous Haleem to the iconic Biryani that melts in your mouth. Each recipe is a testament to generations of culinary expertise, passed down through our family with care and reverence.</h3></p>
            <p><h2><strong>Address:</strong></h2><h3> Rao Pet, Kakinada India</h3></p>
            <p><h3><strong>contact:</strong>8328667311.</h3></p>
            <p><h3><strong>Opening Hours:10am to 11pm</strong></h3></p>
            <div class="container1">
 <a href='/item'> <button class="menu-button" style="pdding-left:300px">Menu</button></a>
</div>
</body>
</html>